* @kinde-starter-kits/giants-kinde
mix.exs @kinde-starter-kits/sdk-engineers
**/mix.exs @kinde-starter-kits/sdk-engineers
mix.lock @kinde-starter-kits/sdk-engineers
**/mix.lock @kinde-starter-kits/sdk-engineers
package.json @kinde-starter-kits/sdk-engineers
**/package.json @kinde-starter-kits/sdk-engineers
package-lock.json @kinde-starter-kits/sdk-engineers
**/package-lock.json @kinde-starter-kits/sdk-engineers
